In [1]:
import json

In [3]:
geo = json.load(open('SIG.geojson', encoding = 'UTF-8'))

In [8]:
geo['features'][0]['properties']

{'SIG_CD': '42110', 'SIG_ENG_NM': 'Chuncheon-si', 'SIG_KOR_NM': '춘천시'}

In [11]:
import pandas as pd

In [12]:
df_pop = pd.read_csv('Population_SIG.csv')

In [13]:
df_pop.head()

    code region      pop
0     11  서울특별시  9509458
1  11110    종로구   144683
2  11140     중구   122499
3  11170    용산구   222953
4  11200    성동구   285990

In [14]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    278 non-null    int64
 1   region  278 non-null    object
 2   pop     278 non-null    int64
dtypes: int64(2), object(1)
memory usage: 6.6+ KB

In [15]:
df_pop['code'] = df_pop['code'].astype(str)

In [16]:
import folium

In [21]:
map_sig = folium.Map(location = [35.95,127.7],
          zoom_start = 8,
          tiles = 'cartodbpositron')

In [23]:
bins = list(df_pop["pop"].quantile([0,0.2,0.4,0.6,0.8,1]))
bins

[8867.0, 50539.6, 142382.20000000004, 266978.6, 423107.20000000024, 13565450.0]

In [24]:
map_sig = folium.Map(location = [35.95,127.7],
                    zoom_start = 8,
                    tiles = 'cartodbpositron')

In [ ]:
folium.Choropleth(
                geo_data = geo,
                data = df_pop,
                columns = ('code','pop'),
                key_on = 'feature.properties.SIG_CD',
                fill_color = 'YlGnBu',
                fill_opacity = 1,
                line_opacity = 0.5,
                bins = bins ) \
                    .add_to(map_sig)
map_sig

### 서울시 동별 외국인 인구 단계 구분도 만들기

In [30]:
import json
geo_seoul = json.load(open('EMD_Seoul.geojson',encoding = "UTF-8"))

In [31]:
geo_seoul['features'][0]['properties']

{'BASE_DATE': '20200630',
 'ADM_DR_CD': '1101053',
 'ADM_DR_NM': '사직동',
 'OBJECTID': '1'}

In [32]:
foreigner = pd.read_csv('Foreigner_EMD_Seoul.csv')

In [33]:
foreigner.head()

      code region    pop
0  1101053    사직동  418.0
1  1101054    삼청동  112.0
2  1101055    부암동  458.0
3  1101056    평창동  429.0
4  1101057    무악동  102.0

In [36]:
foreigner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3490 entries, 0 to 3489
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    3490 non-null   int64
 1   region  3490 non-null   object
 2   pop     3486 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 81.9+ KB

In [37]:
foreigner['code'] = foreigner['code'].astype(str)

In [38]:
bins = list(foreigner['pop'].quantile([0,0.2,0.4,0.5,0.6,0.7,0.8,0.9,1]))

In [39]:
bins

[7.0, 98.0, 200.0, 280.0, 386.0, 529.5, 766.0, 1355.5, 26896.0]

In [40]:
map_seoul = folium.Map(location = [37.56,127],
                      zoom_start = 12,
                      tiles = 'cartodbpositron')

In [ ]:
folium.Choropleth( geo_data = geo_soul,
                    data = foreigner,
                    columns=('code','pop'),
                    key_on = 'feature.properties.ADM_DR_CD',
                    fill_color='Blues',
                    nan_fill_color = 'White',
                    fill_opacity = 1,
                    line_opacity = 0.5,
                    bins = bins ) \
                        .add_to(map_seoul)
map_seoul

In [47]:
geo_seoul_sig = json.load(open('SIG_Seoul.geojson',encoding = "UTF-8"))

In [ ]:
folium.Choropleth(geo_data = geo_seoul_sig,
                 fill_opacity = 0,
                 line_weight = 4) \
            .add_to(map_seoul)
map_seoul

In [45]:
map_seoul.save('map_seoul.html')

In [46]:
import webbrowser
webbrowser.open_new('map_seoul.html')

True